

.info-wrapper{
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    
    .details{
        font-family: "Inter", sans-serif;
        display: flex;
        flex-direction: column;
        gap: 45px;
        margin-top: 10%;
        .details-wrapper{
            display: flex;
            flex-direction: column;
            gap: 15px;
            h1{
                font-size: 48px;
            }
            h2{
                font-size: 20px;
            }
        }
        .links{
            display: flex;
            flex-direction: column;
            gap: 15px;
        }
        .curriculo{
            display: flex;
            flex-direction: column;
            gap:10px;
            .downloadBtns{
                display: grid;
                grid-template-columns: auto auto;
                gap: 10px;
            }
            .downBtn{
                display: flex;
                align-items: center;
                gap: 8px;
                background-color: #002761;
                color: white;
                border: none;
                padding: 10px 16px;
                border-radius: 15px;
                font-size: 16px;
                font-weight: 500;
                cursor: pointer;
                transition: background-color 0.3s, transform 0.2s;
                text-decoration: none;
                max-width: 200px;
                justify-content: center;
                
            }
            .downBtn i {
                font-size: 18px;
              }
            
              .downBtn:hover {
                background-color: #194dbd; 
                transform: scale(1.05); 
              }
            
              .downBtn:active {
                transform: scale(0.98);
              }
        } 
        .navigation{
            .links{
                list-style: none;
                .link{
                    color: #babfc5;
                    transition: color 0.2s ease-out, transform 0.2s ease-out;
                    display: flex;
                    position: relative;
                }
                .link::before {
                    content: "";
                    position: absolute;
                    transform: translateY(-50%);
                    width: 10px; /* Largura inicial da linha */
                    height: 2px; /* Espessura da linha */
                    background-color: #babfc5;
                    transition: width 0.3s ease-in-out;
                  }
                .link:hover {
                    color: white;
                  }
                  .link:hover::before {
                    width: 25px; /* Expande no hover */
                    background-color: white;
                  }
            }
        }
    }
    .socials{
        display: flex;
        flex-direction: row;
        gap: 16px;
        justify-content: space-evenly;
        list-style: none;
        margin-bottom: 50px;
        margin-top: 30px;
        
        .social{
            min-width: 38px;
            min-height: 38px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 28px;
            a{
                color: #babfc5;
                transition: 0.3s ease;
            }
            a:hover{
                color: #E2E8F0;
                color: #194dbd;
            }
        }
    }
}

@media (min-width: 768px) {
    .info-wrapper{
        height: 100%;
        margin: 20% 0;
        .details{

            .downloadBtns{
                grid-template-columns: auto;
                grid-template-rows: auto auto;
                gap: 10px;
            }
            .curriculo{
                flex-direction: column;
            }
            .navigation{
                .links{
                    .link{
                        color: #babfc5;
                        transition: color 0.2s ease-out, transform 0.2s ease-out;
                        display: flex;
                        position: relative;
                    }
                }
            }
        }
        .socials{
            justify-content: start;
            margin-bottom: 0;
            margin-top: 0;
            .social{
            }
        }
        
    }
}