.jobCard{
    border-radius: 5px;
    cursor: pointer;
    display: grid;
    grid-template-columns: 20% 1fr;
    text-align: left;
    gap: 20px;
    max-width: 655px;
    padding: 1%;
    transition: 0.2 ease;
    .info{
        display: grid;
        gap: 10px;
    }
    .technologies{
        
        display: flex;
        justify-content: flex-start;
        gap: 15px;
        .tech{
            background-color: #002127;
            border-radius: 15px;
            padding: 3px 10px;
            // color: #17d1ff;
            color: #35d3c6;
        }
    }
    
}.jobCard:hover{
    box-shadow: #999999;
}