.jobCard{
    border-radius: 5px;
    cursor: pointer;
    display: grid;
    grid-template-columns: 20% 1fr;
    text-align: left;
    gap: 20px;
    max-width: 655px;
    padding: 1%;
    transition: 0.2 ease;
    .year{
        color: #2b68ec;;
    }
    .info{
        display: grid;
        gap: 10px;
        .title .job{
            font-size: 18px;
            span {
                display: inline-block;
                width: 2px; 
                height: 15px;
                background-color: #777; 
                margin: 0 8px; 
            }
        }
        p{
            font-size: 14px;
            color: #ffffff96;
        }
    }
    .technologies{
        
        display: flex;
        justify-content: flex-start;
        gap: 15px;
        .tech{
            background-color: #002127;
            border-radius: 15px;
            padding: 3px 10px;
            // color: #17d1ff;
            color: #35d3c6;
        }
    }
    
}.jobCard:hover{
    background-color: #3688cc13; /* Azul escuro */
    // box-shadow: rgba(255, 255, 255, 0.12) 0px 2px 4px 0px, rgba(255, 255, 255, 0.32) 0px 2px 16px 0px;
}