@import '../variable.scss';

$nav: 100px;


header{
    width: 100%;
    
    background-color: aliceblue;
}
.links{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 50px;
    .link{
        font-size: 26px;
        align-self: center;  
    }
}
