@import '../../variable.scss';

.about{
    display: grid;
    width: 100%;    
    align-items: start;
    gap: 80px;
    .desc{
        text-align: justify;
    }

    .title{
        text-align: left;
        margin-bottom: 20px;
    }

    .tech{
        text-align: left;
        display: grid;
        gap: 20px;
        .tech-wrapper{
            display: flex;
            flex-direction: column;
            gap: 15px;
            
            p{
                width: 50px;
                i{
                    font-size: 28px;
                    align-self: center;
                }
            }
            .tech-list{
                list-style: none;
                display: flex;
                flex-wrap: wrap;
                gap: 15px;
                .tech-item{
                    border: 1px solid #194dbd;
                    color: #205ee4;;
                    padding: 0 10px;
                    border-radius: 15px;
                }
            }
        }
    }
    .jobs{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}

@media (min-width: 768) {
    .about{
        .tech{
            .tech-wrapper{
                display: flex;
                flex-direction: row;
                gap: 15px;
            }
        }
    }
    
    
}