@import '../variable.scss';

.container{
    color: rgba(255, 255, 255, 0.603);
    font-size: 14px;
    .content{
        max-width: 1280px;
        padding: 0 20px;
        display: grid;
        height: 150px;
        text-wrap: balance;
    }
    
}





