#root {
  margin: 0 auto;
  text-align: center;
}

.App {
  width: 100%;
  max-width: 1240px;
  display: flex;
  flex-direction: column;
}

.infos {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0 40px;
}

.content-main {
  width: 100%;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  gap: 100px;
  justify-content: center;
}


@media (min-width: 768px) {
  .App {
    margin: 0 auto;
    flex-direction: row;
    overflow: hidden;
    position: relative;
  }
  .infos {
    width: 40%;
    height: 100vh;

    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 20px;
    
  }
  .content-main {
    width: 60%;
    margin-left: 40%; 
    padding: 0 20px;
    overflow-y: auto;
    .about, .projects, .contact-Section{
      margin-top: 150px;
    } 
  }
  .content-main::-webkit-scrollbar {
    width: 0;
    display: none;
  }
  
  .content-main {
    scrollbar-width: none;
  }
}

