#root {
  margin: 0 auto;
  text-align: center;

  --header-height: 100px;
  --footer-height: 150px;
}

.App {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  height: 100vh;
  display: flex; /* Define layout em colunas */
  overflow: hidden;
}

.infos {
  width: 40%;
  height: 100vh;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-left: 20px;
}

.content-main {
  width: 60%;
  height: 100vh;
  overflow-y: auto; 
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 100px;
  justify-content: space-between;
}
.content-main::-webkit-scrollbar {
  width: 0;
  display: none;
}

.content-main {
  scrollbar-width: none;
}
.content-main:first-child{
  margin-top: 100px;
}

